<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/header}">
<!--only_footer, header-->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/request_board/community__request.css}">
    <link rel="stylesheet" th:href="@{/css/request_board/category.css}">
    <link rel="stylesheet" th:href="@{/css/request_board/btn.css}">
    <link rel="stylesheet" th:href="@{/css/request_board/maintop.css}">
</th:block>


<div layout:fragment="content">
  <body>
  <div class ="top__title__postlist_ask_hama">
    <div class ="title__postlist_ask_hama">
      <h2>요청 게시판</h2>
      <h4>도움이 필요한 '주마'님들에게 견적서를 보내보세요!</h4>
    </div>
  </div>
  <div class ="postlist_ask_hama">
    <section class="community__postlist_ask_hama">

      <div class="box1">
        <div class="location">
          <!--  -->
          <div class="select">



            <div class="select__search__form">
              <input class="search__input" type="text" name="q" placeholder="주마 검색">
              <button th:id="${member_id}" class="search__button" type="submit">검색</button>
            </div>

          </div>
        </div>

        <!-- 받은 견적서 게시글 불러오는 부분. -->
        <ul class="post-list" id="postList">
        </ul>
    </section>

  </div>
  <th:block th:inline="javascript">
    <script src="/js/community_request.js"></script>
  </th:block>
  </body>
</div>
</div>
</html>