body{
        background-color: #f9fbfc;
    }
    .upcontainer{
        display: grid;
        grid-template-areas:"header header header"
                            ". main .";
        grid-template-columns: 1fr 824px 1fr;
    }
    .upheader{
        box-shadow: 0 5px 8px -6px #222;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        height: 80px;
        align-items: center;
    }
    .upheader,
    .content_top{
        background-color: white;
    }
    .upheader{
        grid-area: header;
    }
    .upheader .main_title{
        margin-right: 600px;
    }
    .upmain{
        grid-area: main;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .upmain .main_title{
        align-self: self-start;
        margin-bottom: 30px;
        font-size:1.5rem;
    }
    .content_top,
    .content_bottom
    {
        margin-top: 40px;
        border-radius: 16px;
        border: 2px solid rgb(0, 176, 250);
        width: 80%;
        height: auto;
        padding: 20px;
    }
    .content_top .first_top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid #f2f2f2;
    }
    .content_top .top_title{
        margin-bottom: 10px;
        color: rgba(123,137,148,.8);
    }
    .content_top .pic_nickname {
        display: flex;
        padding: 10px;
    }
    .content_top .pic,
    .content_top .pic img {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        margin-right: 20px;
    }
    .content_top .pic_nickname .nick_id{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .content_top .pic_nickname .nick_id .nickname{
        font-size: 1.4rem;
    }
    .content_top .pic_nickname .nick_id .id_value{
        color: rgba(123,137,148,.8);
    }
    .content_top .phone{
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 2px solid #f2f2f2;

    }
    .content_top .phone .phone_img img{
        width: 20px;
        margin-right: 10px;
    }
    /* 여기부터 밑에 내용들 */
    .content_bottom{
        border: 2px solid rgba(123,137,148,.8);
    }
    .content_bottom .bottom_title{
        color: rgba(123,137,148,.8);
    }
    .content_bottom .bottom_first .pw_btn .button{
        width: 130px;
    }
    .content_bottom .bottom_first .pw_btn{
        display: flex;
        justify-content: end;
        padding: 15px;
    }
    .content_bottom .bottom_first .update_pic,
    .content_bottom .bottom_first .update_email,
    .content_bottom .bottom_first .update_nickname,
    .content_bottom .bottom_first .update_phone{
        border-bottom: 2px solid #f2f2f2;
        padding: 15px;
    }
    .content_bottom .bottom_first .update_pic{
        display:flex;
    }
    .content_bottom .bottom_first .update_pic > *{
        width: 30%;
    }
    .value{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .input{
        display: flex;
    }
    input {
        padding: 5px;
        text-align: end;
        width: 300px;
        height: 32px;
        font-size: 1.1rem;
        border: 0;
        border-radius: 15px;
        outline: none;
        padding-left: 10px;
        background-color: rgb(233, 233, 233);
    }


    .content_finish{
        margin-top: 40px;
        margin-bottom: 40px;
        width: 80%;
        display: flex;
        justify-content: end;
        align-items: end;
    }
    .content_finish .cus_delete{
        margin-left: 80px;
        color: rgba(123,137,148,.8);
    }
    .nickbtn{
        width: 100px;
        height: 30px;
    }
    .nickbtn .bottom.password{
        width: 150px;
    }
    .cus_delete{
        cursor: pointer;
    }